
#picture
{
    margin: 2px;
    padding: 2px;
    border: solid 1px black;
}

#edit
{
    width:          835px;
    height:         835px;
    border:         solid 1px black;
    margin-left:    2px;
    margin-right:   2px;
}

#canvas
{
    border: solid 15px red;
}

.left
{
    display:    inline-block;
    left:       5vw;
}

.right
{
    display:    inline-block;
    right:      5vw;
}

.control_container
{
    margin:     1px;
    border:     solid 1px black;
    padding:    3px;
}

.input_box
{
    width: 5em;
}
