#container
{
    display: flex;
    height: 90vh;
}

#title
{
    text-align: center;
}

#before
{
    width: 14vw;
    border: solid 1px black;
}

#picture
{
    margin: 2px;
    padding: 2px;
    border: solid 1px black;
}

#edit
{
    width: 70vw;
    border: solid 1px black;
    margin-left: 2px;
    margin-right: 2px;
}

#after
{
    width: 14vw;
    border: solid 1px black;
}